# .gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/

# Environment setups
.env
.venv

# IDE and Project Files
.vscode/
.idea/
*.swp
*.swo

# OS Data
.DS_Store
Thumbs.db
